@font-face {
    font-family: Norse-Bold;
    src: url('./assets/Norse-Bold.otf');
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-bg: #fafafa;
    --secondary-bg: #fff;
    --btn-color: #596d48; 
    --primary-text: #161616;
    --secondary-text: #f5f5fe;
    --focus-bg: #2f9706;
}

body{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-family: Helvetica, sans-serif;
    height: 100vh;
}

header{
    flex: 2;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title-bg{
    background-color: rgba(14, 14, 14, 0.6);
    height: 15%;
    width: 100%;
    margin-top: 25%;
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.title{
    color: var(--secondary-text);
    text-transform: uppercase;
    font-size: 4rem;
    font-family: Norse-Bold, sans-serif;
    letter-spacing: 0.1rem;
}
.title-bg > img{
    max-height: 100%;
}

main{
    flex: 3;
    padding: 5% 0 10%;
}

main > p,
form > button,
fieldset > *{
    margin-left: 2.5rem;
    margin-right: min(10%, 7rem);
}

main > p{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
main > p:last-child{
    font-size: 16px;
    font-weight: 400;
}

fieldset{
    position: relative;
    background-color: var(--secondary-bg);
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-right: min(4rem, 10%);
    margin: 1.5rem 0;
    border: none;
    box-shadow: 0px 2px 5px #e5e7eb;
}
legend{
    position: absolute;
    top: 10%;
    font-size: 20px;
    font-weight: 600;
}
.form-controls{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
}
.form-controls > div{
    width: 40%;
    margin-bottom: 1rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
}
input{
    height: 30px;
    width: 100%;
    padding: 4px;
    border: 1px solid var(--primary-text);
    border-radius: 0;
    transition: 0.5s;
    outline: none;
}
input:focus{
    border-color: var(--focus-bg);
    box-shadow: 1px 1px 3px 0 var(--primary-text);
}
label{
    font-size: 12px;
    text-transform: uppercase;
}

button,
input{
    font-family: inherit;
    font-size: 16px;
}

button{
    background-color: var(--primary-bg);
    font-weight: 600;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 0;
    padding: 12px 32px;
    outline: none;
}
button:hover,
button:focus{
    background-color: var(--btn-color);
    color: var(--secondary-text);
}
button:hover{
    transition: 0.25s;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: var(--btn-color);
}
a:visited{
    color: #8d0b2c;
}