@font-face {
    font-family: Norse-Bold;
    src: url('./assets/Norse-Bold.otf');
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-bg: #fafafa;
    --secondary-bg: #596d48; 
    --primary-text: #161616;
    --secondary-text: #f5f5fe;
    --focus-bg: #2727f8;
    --invalid-bg: #ff2828;
}

body{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-family: Helvetica, sans-serif;
    height: 100vh;
}

header{
    flex: 2;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title-bg{
    background-color: rgba(14, 14, 14, 0.6);
    height: 15%;
    width: 100%;
    margin-top: 25%;
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.title{
    color: var(--secondary-text);
    text-transform: uppercase;
    font-size: 4rem;
    font-family: Norse-Bold, sans-serif;
    letter-spacing: 0.1rem;
}
.title-bg > img{
    max-height: 100%;
}

main{
    flex: 3;
    padding: 10% 0;
}

main > p,
form > button,
fieldset > *{
    margin-left: 2rem;
    margin-right: 3.5rem;
}

main > p{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
main > p:last-child{
    font-size: 16px;
    font-weight: 600;
}

fieldset{
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
    margin: 1.5rem 0;
    border: none;
}
h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.form-controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-controls > div{
    width: 40%;
    display: flex;
    flex-direction: column-reverse;
}
input{
    height: 30px;
    padding: 4px;
}
input:focus{
    border-color: var(--focus-bg);
    box-shadow: 3px 3px;
}
